#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    box-shadow: 0 6px 8px 0 rgba(2,2,2,0.2);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
textarea
{
    width: 300px;
}
.copy_right_footer {
position : fixed;
bottom:0;
width:100%;
text-align:center;
}
h1{
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}
img:hover{
    border-radius: 140px;
}
body{
    background: linear-gradient( #4287f5 0%,#4bf542 100%);

}